<div class="header-wrapper clickable">
  <expandable [expandOnClick]="true">
    <expandable-header>
      <div class="header">
        <div class="menu-icon" (click)="menuOpen = !menuOpen">
          <div class="middle-row"></div>
        </div>
        <div class="header-title">Lost Colonies</div>
      </div>
    </expandable-header>
    <expandable-content>
      <div class="menu">
        <accordion>
          <expandable>
            <expandable-header routerLink="/world">
              <div class="menu-entry">Welt</div>
            </expandable-header>
          </expandable>
          <expandable>
            <expandable-header routerLink="/factions">
              <div class="menu-entry">Fraktionen</div>
            </expandable-header>
          </expandable>
          <expandable>
            <expandable-header routerLink="/players">
              <div class="menu-entry">Spieler</div>
            </expandable-header>
          </expandable>
        </accordion>
      </div>
    </expandable-content>
  </expandable>
</div>
