@import "../app.component";

$menu-line-width: 6px;
$menu-line-radius: 3px;
$menu-icon-size: 30px;
$menu-icon-color: $color-grey-0;

.header-wrapper {
  margin: -8px -8px 0 -8px;
}

.header {
  font-size: 2em;
  background: url('/assets/images/main-background.png'), linear-gradient(to bottom, $color-grey-3 0, opacify(black, 0.8) 100%) no-repeat, $color-grey-3;
  padding: 8px 8px 4px 8px;
}

.header-title {
  color: $color-grey-0;
  font-family: Kirsty;
  font-weight: bold;
}

.menu-icon {
  width: $menu-icon-size;
  height: $menu-icon-size;
  float: right;
  position: relative;

  &:after, &:before {
    content: '';
    width: 100%;
    height: $menu-line-width;
    background: $menu-icon-color;
    border-radius: $menu-line-radius;
    position: absolute;
    left: 50%;
    transition: all 250ms ease;
  }

  &:after {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:before {
    bottom: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
  }

}

.middle-row {
  &:after {
    content: '';
    width: 100%;
    height: $menu-line-width;
    background: $menu-icon-color;
    border-radius: $menu-line-radius;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 250ms ease;
    opacity: 0;

  }
}

.accordion-entry-hidden {
  & .menu-icon:after {
    transform: none;
    left: 0;
    top: 0;
  }

  & .menu-icon:before {
    transform: none;
    left: 0;
    bottom: 0;
  }
  & .middle-row:after {
    opacity: 1;
  }
}

.menu {
  padding: 8px;
  background: $color-grey-5;
  color: $color-grey-0;
}
