<div>
  <accordion>
    <accordion-entry>
      <accordion-header>
        <div class="faction-header">Speer und Hammer</div>
      </accordion-header>
      <accordion-content>
        <div><b>Beschreibung:</b> (Ex-)Militär Gang, die mit ausgewöhnlicher Disziplin & Skrupellosigkeit operiert.
        </div>
        <div><b>Gebiete:</b></div>
        <div><b>NPCs:</b></div>
        <div><b>Nennenswerter Besitz:</b> Militärarsenal,</div>
        <div><b>Eigenheiten:</b> Extrem diszipliniert & hierachisch.</div>
        <div><b>Verbündete:</b></div>
        <div><b>Feinde:</b> Nachtwächter</div>
        <div><b>Situation:</b> Versuchen Nachtwächter zu schaden indem ihre Rivalen finanzieren</div>
      </accordion-content>
    </accordion-entry>
    <accordion-entry>
      <accordion-header>
        <div class="faction-header">Nachtwächter</div>
      </accordion-header>
      <accordion-content>
        <div><b>Beschreibung:</b>
          Großenteils aus Hafenarbeiter bestehende Gang, die mit Gewalt ihre illegalen Glücksspiele verteidigen und das
          Hafengebiet kontrollieren.
        </div>
        <div><b>Gebiete:</b>
          Nördlich des Hafens
        </div>
        <div><b>NPCs:</b>
          Don Volker Jr (Chef, unerfahren, emotional), Eisenfresser (Skrupellos, resolut), Halger (Geduldig, Ruhig,
          diplomatisch)
        </div>
        <div><b>Nennenswerter Besitz:</b>
          Das einzig legale Kasino,
        </div>
        <div><b>Eigenheiten:</b>
          Eisenfresser und Halger sind wie das Engelchen und Teufelchen im Ohr des Anführers und haben einen enormen
          Einfluß über die Gang.
        </div>
        <div><b>Verbündete:</b>
          Hafer, Blaumäntel
        </div>
        <div><b>Feinde:</b>
          Speer & Hammer
        </div>
        <div><b>Situation:</b>
          Nach der Ermordung ihres starken Anführers kämpft sein unerfahrener Sohn ihr Territorium
          auf allen Seiten zu verteidigen während er Rache für seinen Vater sucht.
        </div>
      </accordion-content>
    </accordion-entry>
    <accordion-entry>
      <accordion-header></accordion-header>
      <accordion-content></accordion-content>
    </accordion-entry>
    <accordion-entry>
      <accordion-header></accordion-header>
      <accordion-content></accordion-content>
    </accordion-entry>
    <accordion-entry>
      <accordion-header></accordion-header>
      <accordion-content></accordion-content>
    </accordion-entry>
    <accordion-entry>
      <accordion-header></accordion-header>
      <accordion-content></accordion-content>
    </accordion-entry>
  </accordion>
</div>
