.achievements {
  overflow: hidden;
}

.achievements-slider {
  width: 300%;
  transition: all 300ms;
}

.achievements-flex-parent {
  display: flex;
}

.achievement-flex-children {
  flex: 1;
}

.achievement-wrapper {
  padding: 2px 0;
}

.bottom-row {
  position: relative;
  height: 25px;
}

.middle-arrow {
  top: 3px;
}

.left-arrow {
  position: absolute;
  left: 0;
}

.right-arrow {
  position: absolute;
  right: 0;
}

.toggle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -30%);

  &.up {
    transform: translate(-50%, 20%);
  }
}
