@import "../../app.component";

.session-entry {
  height: 0;
  opacity: 0;
  transition: opacity 250ms;
  overflow: hidden;
  &.active {
    transition: opacity 500ms 250ms;
    height: auto;
    opacity: 1;

  }
}

.achievements, .sessions {
  margin: 1em 0 0.25em;
  font-weight: bold;
}

.session-headline {
  position: relative;
  padding: 0 20px;
}

.previous-session, .next-session {
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  // padding to easily increase clickable area while still having the arrow centered
  padding: 1em 0;
}

.previous-session {
  right: 100%;
}

.next-session {
  left: 100%;
}

.session-name {
  font-size: 1.5em;
  font-family: UglyQua;
  text-align: center;
  position: relative;
}

.session-date {
  text-align: center;
  border-top: 1px solid $color-grey-5;
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 1em;
}

.session-characters {
  margin-bottom: 0.5em;
  text-align: center;
  > span {
    font-weight: bold;
  }
  > span:not(:first-child) {
    &:before {
      content: " - ";
      font-weight: normal;
    }
  }
}

.session-author {
  text-align: right;
  font-style: italic;
  padding-right: 0.25em;
}

.session-close-description {
  margin: 0 auto 10px;
}
