<div>
  <div class="map-description">{{map.description}}</div>
  <div class="map">
    <img [src]="map.imageUrl" class="map-image">
    <div *ngFor="let highlight of map.highlights;let i = index;"
         [ngClass]="{top: highlight.location.top > 50}">

      <!-- Highlight dot -->
      <div class="highlight clickable"
           [ngStyle]="{
           top: highlight.location.top+'%',
           left: highlight.location.left+'%',
           width: highlight.size.x+'%',
           height: highlight.size.y+'%'}"
           (click)="toggle(i)">
        <div class="overlay"
             [ngClass]="{active: activeDescription === i}"
             [ngStyle]="{ transform: 'rotate('+highlight.size.rotation+'deg)'}"></div>
      </div>

      <!-- Highlight description -->
      <div class="highlight-description-wrapper clickable"
           *ngIf="activeDescription === i"
           [ngStyle]="{top: descriptionTopValue(highlight)}"
           (click)="toggle(i)">
        <div class="highlight-description">
          <div class="highlight-description-title">{{highlight.name}}</div>
          <div>{{highlight.description}}</div>
        </div>
      </div>

      <!-- Nose of description box -->
      <div class="highlight-description-nose clickable"
           *ngIf="activeDescription === i"
           [ngStyle]="{top: descriptionTopValue(highlight), left: highlight.location.left+'%'}"
           (click)="toggle(i)"></div>
    </div>
  </div>
</div>
