<div class="page">
  <accordion *ngIf="allFactions && allFactions.length">

    <!-- Group selector -->
    <expandable [(visible)]="showSelect">
      <expandable-header>
        <div class="page-accordion-header mod-permanent-border-bot">Anzeigen: {{activeGroup}}</div>
      </expandable-header>
      <expandable-content>
        <div class="page-accordion-seperate-content-fix">
          <div class="page-accordion-content mod-separate mod-hover-effect clickable"
               *ngFor="let group of selectableGroups"
               (click)="activateGroup(group)">
            {{group}}
          </div>
        </div>
      </expandable-content>
    </expandable>

    <!-- Factions -->
    <!-- We need to render a expandable for every faction and hide them depending on selection to make sure
    the accordion has a reference to all of them -->
    <div *ngFor="let faction of allFactions">
      <expandable [hidden]="group.indexOf(faction) === -1" [linkable]="[faction.name]">
        <expandable-header>
          <div class="page-accordion-header">{{faction.name}}</div>
        </expandable-header>
        <expandable-content>
          <div>
            <div class="page-accordion-content">
              <div class="faction-image-wrapper">
                <img *ngIf="faction.imageUrl" [src]="faction.imageUrl" alt="" class="faction-image">
              </div>
              <div *ngIf="faction.description">
                <div insertLinks [exclude]="excludeLinks(faction)"
                     [innerHtml]="faction.description"></div>
              </div>
            </div>
            <div class="page-accordion-content mod-separate" *ngIf="faction.npcs">
              <div class="headline">NPCs:</div>
              <npcs [npcs]="faction.npcs" [excludeLinks]="excludeLinks(faction)"></npcs>
            </div>
          </div>
        </expandable-content>
      </expandable>
    </div>
  </accordion>
</div>
