<div>
  <accordion *ngIf="factions">
    <accordion-entry *ngFor="let faction of factions">
      <accordion-header>
        <div class="faction-header">{{faction.name}}</div>
      </accordion-header>
      <accordion-content>
        <div class="faction-content-wrapper">
          <div class="faction-content">
            <div><b>Beschreibung:</b> {{faction.description}}</div>
            <div><b>Gebiete:</b>{{faction.turf}}</div>
            <div><b>NPCs:</b>{{faction.npcs}}</div>
            <div><b>Nennenswerter Besitz:</b>{{faction.assets}}</div>
            <div><b>Eigenheiten:</b>{{faction.quirks}}</div>
            <div><b>Verbündete:</b>{{faction.allies}}</div>
            <div><b>Feinde:</b>{{faction.enemies}}</div>
            <div><b>Situation:</b>{{faction.situation}}</div>
          </div>
        </div>
      </accordion-content>
    </accordion-entry>
  </accordion>
</div>
