@import "../../app.component";

.image-wrapper {
  text-align: center;
  margin-bottom: 0.5em;
}

.character-image {
  max-height: 50vw;
  max-width: 100%;
}

.character-description {
  margin: 0.75em 0;
}

.character-achievements {
  font-weight: bold;
  margin-bottom: 0.25em;
}
