$color-white-0: #FFF;
$color-white-1: #EEE;
$color-white-2: #DDD;

$color-grey-0: #BBB;
$color-grey-1: #7c7c7c;
$color-grey-2: #515151;
$color-grey-3: #474747;
$color-grey-4: #202020;
$color-grey-5: #101010;

@font-face {
  font-family: 'Kirsty';
  src: url('/assets/fonts/kirsty/kirsty rg.ttf');
}

@font-face {
  font-family: 'Kirsty';
  src: url('/assets/fonts/kirsty/kirsty bd.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Libertine';
  src: url('/assets/fonts/libertine/LinLibertine_R.ttf')
}

@font-face {
  font-family: 'Libertine';
  src: url('/assets/fonts/libertine/LinLibertine_RB.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'UglyQua';
  src: url('/assets/fonts/UglaQua/UglyQua.ttf');
}

html, body {
  height: 100%;
  background: $color-grey-1 url("/assets/images/main-background.png") repeat fixed;
  font-size: 17px;
  font-family: Libertine;
}

a.active {
  background-color: gray;
}

.header1 {
  padding: 20px;
  background: black;
  color: blue;
}

.clickable {
  cursor: pointer;
}

.arrow {
  border-left: 3px solid black;
  border-top: 3px solid black;
  height: 10px;
  width: 10px;
  margin: 2px;
  transition: all 250ms;
  &.mod-big {
    border-left: 4px solid black;
    border-top: 4px solid black;
    height: 15px;
    width: 15px;
  }
  &.up {
    transform: rotate(45deg);
  }
  &.down {
    transform: rotate(-135deg);
  }
  &.left {
    transform: rotate(-45deg);
  }
  &.right {
    transform: rotate(135deg);
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
