$color-white-0: #FFF;
$color-white-1: #EEE;
$color-white-2: #DDD;

$color-grey-0: #BBB;
$color-grey-1: #7c7c7c;
$color-grey-2: #515151;
$color-grey-3: #474747;
$color-grey-4: #202020;
$color-grey-5: #101010;

@font-face {
  font-family: 'Kirsty';
  src: url('/assets/fonts/kirsty rg.ttf');
}

@font-face {
  font-family: 'Kirsty';
  src: url('/assets/fonts/kirsty bd.ttf');
  font-weight: bold;
}

html, body {
  height: 100%;
  background: $color-grey-1 url("/assets/images/main-background.png") repeat fixed;
  font-size: 18px;
}

a.active {
  background-color: gray;
}

.header1 {
  padding: 20px;
  background: black;
  color: blue;
}
