.achievements {
  overflow: hidden;
}

.achievements-slider {
  width: 300%;
  transition: all 300ms;
}

.achievements-flex-parent {
  display: flex;
}

.achievement-flex-children {
  flex: 1;
}

.achievement-wrapper {
  padding: 2px;
}

.left-arrow {
  float: left
}

.right-arrow {
  float: right
}

.toggle {
  text-align: center;
}
