<div class="achievements">
  <div class="achievement-wrapper">
    <achievement [achievement]="achievements[0]"></achievement>
  </div>
  <expandable>
    <expandable-content>
      <div class="achievement-wrapper" *ngFor="let achievement of achievements.slice(1)">
        <achievement [achievement]="achievement"></achievement>
      </div>
    </expandable-content>
  </expandable>

  <!--<div class="left-arrow" *ngIf="showLeft" (click)="swipeLeft()">left</div>-->
  <!--<div class="right-arrow" *ngIf="showRight" (click)="swipeRight()">right</div>-->
  <div class="toggle" (click)="toggle()">Toggle</div>
</div>
