.content-wrapper {
  transition: height 500ms ease, opacity 250ms ease 250ms;
  overflow: hidden;
  opacity: 1;
}

.accordion-entry-hidden .content-wrapper {

  transition: height 500ms ease, opacity 250ms ease;
  opacity: 0;

}
