<div class="page">
  <accordion *ngIf="entries || map" [openAtStart]="0">

    <lc-expandable *ngIf="map" [lcLinkable]="[map.name]">
      <expandable-header>
        <div class="page-accordion-header">{{map.name}}</div>
      </expandable-header>
      <expandable-content>
        <div class="page-accordion-content mod-no-padding">
          <map [map]="map"
               autoHighlight="Akoros"></map>
        </div>
      </expandable-content>
    </lc-expandable>

    <lc-expandable *ngFor="let entry of entries" [lcLinkable]="[entry.title]">
      <expandable-header>
        <div class="page-accordion-header">{{entry.title}}</div>
      </expandable-header>
      <expandable-content>
        <div class="page-accordion-content" lcInsertLinks [exclude]="[{link:path,linkable:entry.title}]">
          <div *ngIf="entry.subEntries">
            <div class="world-paragraph" *ngFor="let subEntry of entry.subEntries">
              <b>{{subEntry.title}}</b> {{subEntry.description}}
              <div *ngIf="subEntry.subEntries">
                <div class="world-sub-list" *ngFor="let subsubentry of subEntry.subEntries">
                  <b>{{subsubentry.title}}</b> {{subsubentry.description}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </expandable-content>
    </lc-expandable>
  </accordion>
</div>
