@import "../app.component";

.page-accordion-header {
  padding: 0.5em;
  color: $color-grey-0;
  background: $color-grey-4;
  border: 1px solid $color-grey-2;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-family: Kirsty;
  word-wrap: break-word;
}

.accordion-entry-hidden {
  & .page-accordion-header {
    //color: $color-grey-1;
  }
}

.page-accordion-content {
  background: $color-grey-0;
  color: $color-grey-5;
  border-left: 2px solid #3b3b3b;
  border-right: 2px solid #3b3b3b;
  border-bottom: 2px solid #3b3b3b;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing: border-box;
  padding: 0.25em;
}

.page-accordion-content-wrapper {
  padding: 0 0.5em 0.5em 0.5em;
}
