@import "../app.component";

$dark-border: 2px solid $color-grey-2;
$light-border: 2px solid $color-white-2;
$margin-top: 0.5em;

.page {
  max-width: 500px;
  margin: 0 auto;
}

.page-accordion-header {
  font-family: Kirsty;
  color: $color-white-1;
  word-wrap: break-word;
  padding: 0.5em;
  margin-top: $margin-top;
  background: $color-grey-4 url("/assets/images/blood-splatter-small-bottom-right.png") no-repeat bottom right;
  border-top: $light-border;
  border-right: $light-border;
  border-left: $dark-border;
  border-bottom: none;
  cursor: pointer;
}

.accordion-entry-hidden {
  & .page-accordion-header {
    background: $color-grey-4;
    border-bottom: $dark-border;
  }
}

.page-accordion-content {
  background: $color-grey-0;
  color: $color-grey-5;
  padding: 0.4em;
  box-sizing: border-box;
  border-left: $dark-border;
  border-right: $light-border;
  border-bottom: $dark-border;
  &.mod-separate {
    border-top: $light-border;
    margin-top: $margin-top;
  }
}
