<div class="page">
  <accordion *ngIf="gang" [openAtStart]="0">

    <expandable [linkable]="linksForGang(gang)">
      <expandable-header>
        <div class="page-accordion-header">{{gang.name}}</div>
      </expandable-header>
      <expandable-content>
        <div>
          <div class="page-accordion-content">
            <gang [gang]="gang" [excludeLinks]="excludeGangLinks(gang)"></gang>
          </div>
          <div class="page-accordion-content mod-separate" *ngIf="gang">
            <div class="headline">Episoden:</div>
            <sessions [sessions]="gang.sessions" [gangName]="gang.name"
                      [excludeLinks]="excludeGangLinks(gang)"></sessions>
          </div>
          <div class="page-accordion-content mod-separate" *ngIf="gang.npcs">
            <div class="headline">NPCs:</div>
            <npcs [npcs]="gang.npcs" [excludeLinks]="excludeGangLinks(gang)"></npcs>
          </div>
        </div>
      </expandable-content>
    </expandable>

    <expandable *ngFor="let character of gang.characters" [linkable]="linksForCharacter(character)">
      <expandable-header>
        <div class="page-accordion-header">{{character.name}}</div>
      </expandable-header>
      <expandable-content>
        <div class="page-accordion-content">
          <character [character]="character"
                     [excludeLinks]="excludeCharacterLinks(character)">
          </character>
        </div>
      </expandable-content>
    </expandable>
  </accordion>
</div>
