<div class="header-wrapper clickable">
  <expandable>
    <expandable-header>
      <div class="header">
        <div class="menu-icon" (click)="menuOpen = !menuOpen">
          <div class="middle-row"></div>
        </div>
        <div class="header-title">Lost Colonies</div>
      </div>
    </expandable-header>
    <expandable-content>
      <div class="menu">
        <accordion>
          <expandable>
            <expandable-header>
              <div class="menu-entry">Spieler</div>
            </expandable-header>
            <expandable-content>
              <div class="submenu">
                <div class="menu-entry" [routerLink]="metaRoute">{{metaTitle}}</div>
                <div class="menu-entry" [routerLink]="playersRoute">{{playersTitle}}</div>
              </div>
            </expandable-content>
          </expandable>
          <expandable>
            <expandable-header>
              <div class="menu-entry">Welt</div>
            </expandable-header>
            <expandable-content>
              <div class="submenu">
                <div class="menu-entry" [routerLink]="factionRoute">{{factionTitle}}</div>

                <div class="menu-entry" [routerLink]="worldRoute">{{worldTitle}}</div>
                <div class="menu-entry" [routerLink]="city1Route">{{city1Title}}</div>
              </div>
            </expandable-content>
          </expandable>
        </accordion>
      </div>
    </expandable-content>
  </expandable>
</div>
