<div>
  <accordion *ngIf="players">
    <expandable *ngFor="let player of players">
      <expandable-header>
        <div class="page-accordion-header">{{player.name}}</div>
      </expandable-header>
      <expandable-content>
        <div class="page-accordion-content-wrapper">
          <div class="page-accordion-content">
            <achievements [achievements]="player.achievements"></achievements>
          </div>
        </div>
      </expandable-content>
    </expandable>
  </accordion>
</div>
