<div class="page">
  <accordion *ngIf="players && gang">

    <expandable>
      <expandable-header>
        <div class="page-accordion-header">{{gang.name}}</div>
      </expandable-header>
      <expandable-content>
        <div class="page-accordion-content">
          <gang [gang]="gang"></gang>
        </div>
      </expandable-content>
    </expandable>

    <expandable *ngFor="let player of players">
      <expandable-header>
        <div class="page-accordion-header">{{player.name}}</div>
      </expandable-header>
      <expandable-content>
        <div class="page-accordion-content">
          <achievements *ngIf="player.achievements" [achievements]="player.achievements"
                        [maxAmount]="3"></achievements>
          <characters [characters]="player.characters"></characters>
        </div>
      </expandable-content>
    </expandable>
  </accordion>
</div>
