<div class="page">
  <accordion *ngIf="entries || map">

    <expandable *ngIf="map">
      <expandable-header>
        <div class="page-accordion-header">Weltkarte</div>
      </expandable-header>
      <expandable-content>
        <div class="page-accordion-content mod-no-padding">
          <map [map]="map"></map>
        </div>
      </expandable-content>
    </expandable>

    <expandable *ngFor="let entry of entries" [linkable]="entry.title">
      <expandable-header>
        <div class="page-accordion-header">{{entry.title}}</div>
      </expandable-header>
      <expandable-content>
        <div class="page-accordion-content" insertLinks [exclude]="[{link:path,linkable:entry.title}]">
          <div *ngIf="entry.subEntries">
            <div class="world-paragraph" *ngFor="let subEntry of entry.subEntries">
              <b>{{subEntry.title}}</b> {{subEntry.description}}
              <div *ngIf="subEntry.subEntries">
                <div class="world-sub-list" *ngFor="let subsubentry of subEntry.subEntries">
                  <b>{{subsubentry.title}}</b> {{subsubentry.description}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </expandable-content>
    </expandable>
  </accordion>
</div>
