<div class="page">
  <accordion *ngIf="maps">
    <expandable *ngFor="let map of maps" [linkable]="map.name">
      <expandable-header>
        <div class="page-accordion-header">{{map.name}}</div>
      </expandable-header>
      <expandable-content>
        <div class="page-accordion-content">
          <div class="map-description" insertLinks>{{map.description}}
          </div>
          <map [map]="map"></map>
        </div>
      </expandable-content>
    </expandable>
  </accordion>
</div>
