@import "../../app.component";

$highlight-marker-color: black;
$highlight-marker-dot-size: 8px;
$highlight-marker-circle-size: $highlight-marker-dot-size+5px;
$highlight-description-margin: 10px;
$highlight-description-background: $color-grey-0;
$highlight-description-box-shadow: 0 0 6px black;
$highlight-description-nose-size: $highlight-description-margin*2;
$highlight-description-z-index: 2;

.map {
  position: relative;
  overflow: hidden;
}

.map-image {
  display: block;
  width: 100%;
}

.highlight {
  position: absolute;
  transform: translate(-50%, -50%);
  // Increase size for easier clicking
  //height: $highlight-marker-circle-size*3;
  //width: $highlight-marker-circle-size*3;
  display: flex;
  justify-content: center;
  align-items: center;

}

// This needs to be a separate div since the border animation causes jittering on the highlight dot (because of constant size change and position recalculation)
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0 solid rgba(0, 0, 0, 0.75);
  border-radius: 100%;
  //transition: all 150ms ease-out;
  &.active {
    //transition: all 150ms ease-in;
    border: 150vw solid rgba(0, 0, 0, 0.75);
  }
}

.click-helper {
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
}

.displayDot:before, .displayDot:after {
  content: "";
  position: absolute;
  border-radius: 100%;
  border-color: $highlight-marker-color;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.displayDot:before {
  width: $highlight-marker-circle-size;
  height: $highlight-marker-circle-size;
  border: 2px solid;
}

.displayDot:after {
  width: $highlight-marker-dot-size;
  height: $highlight-marker-dot-size;
  background: $highlight-marker-color;
}

.highlight-description-wrapper {
  overflow: auto;
  position: absolute;
  margin: $highlight-description-margin 0.5em;
  box-sizing: border-box;
  left: 0;
  right: 0;
  z-index: $highlight-description-z-index;
}

.highlight-description {
  padding: 0.5em;
  background: $highlight-description-background;
  box-shadow: $highlight-description-box-shadow;
}

.highlight-description-title {
  font-weight: bold;
}

.highlight-description-nose {
  position: absolute;
  width: $highlight-description-margin*4;
  height: $highlight-description-margin;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: $highlight-description-z-index;
}

.highlight-description-nose:before {
  content: "";
  width: $highlight-description-nose-size;
  height: $highlight-description-nose-size;
  position: absolute;
  background: $highlight-description-background;
  top: $highlight-description-nose-size * 0.2;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  box-shadow: $highlight-description-box-shadow;
}

.top {
  & .highlight-description-wrapper {
    //transform: translateY(-100%);
  }

  & .highlight-description-nose {
    //transform: translate(-50%, -100%);
  }

  & .highlight-description-nose:before {
    transform: translate(-50%, -100%) rotate(45deg);
  }
}
