<div>
  <div class="map" *ngIf="map.imageUrl">
    <img [src]="map.imageUrl" class="map-image">
    <div *ngFor="let highlight of map.highlights;let i = index;"
         [ngClass]="{top: highlight.location.top > 50}">

      <!-- Clickable div with z-index to always be on top -->
      <div class="click-helper clickable"
           [ngStyle]="{
           top: highlight.location.top+'%',
           left: highlight.location.left+'%',
           width: highlight.size.x+'%',
           height: highlight.size.y+'%'}"
           (click)="toggle(i)"></div>

      <!-- Highlight dot -->
      <div class="highlight clickable"
           [ngClass]="{displayDot: highlight.displayDot}"
           [ngStyle]="{
           top: highlight.location.top+'%',
           left: highlight.location.left+'%',
           width: highlight.size.x+'%',
           height: highlight.size.y+'%'}">
        <div class="overlay"
             [ngClass]="{active: activeDescription === i}"
             [ngStyle]="{ transform: 'rotate('+highlight.size.rotation+'deg)', transition: highlightOverlayAnimation}"
             (click)="toggle(i)"></div>
      </div>

      <!-- Highlight description -->
      <div class="highlight-description-wrapper clickable"
           *ngIf="activeDescription === i"
           [ngStyle]="{
           top: descriptionTopValue(highlight),
           bottom:descriptionBottomValue(highlight),
           maxHeight: descriptionMaxHeightValue(highlight)}"
           (click)="toggle(i)">
        <div class="highlight-description">
          <div class="highlight-description-title">{{highlight.name}}</div>
          <div insertLinks [exclude]="excludeLinks">{{highlight.description}}</div>
        </div>
      </div>

      <!-- Nose of description box -->
      <div class="highlight-description-nose clickable"
           *ngIf="activeDescription === i"
           [ngStyle]="{
           top: descriptionTopValue(highlight),
           bottom:descriptionBottomValue(highlight),
           left: highlight.location.left+'%'}"
           (click)="toggle(i)"></div>
    </div>
  </div>
</div>
